In [4]:
import pandas as pd
import numpy as np

In [125]:
data = pd.read_csv("data/소방청_연간화재통계_20191231.csv", encoding='ansi')
display(data.head(5))

,화재발생년월일,시도,시·군·구,읍면동,화재유형,발화열원대분류,발화열원소분류,발화요인대분류,발화요인소분류,최초착화물대분류,최초착화물소분류,인명피해(명)소계,사망,부상,재산피해소계,장소대분류,장소중분류,장소소분류
0,2019-01-01 00:03,강원도,삼척시,오분동,기타(쓰레기 화재등),"폭발물, 폭죽",폭죽,부주의,폭죽놀이,"종이,목재,건초등","풀, 나뭇잎",1,0,1,0,기타,야외,기타야외
1,2019-01-01 00:06,경기도,평택시,안중읍,"건축,구조물",미상,미상,미상,미상,미상,미상,0,0,0,14900,주거,단독주택,단독주택
2,2019-01-01 00:40,서울특별시,성북구,하월곡동,"자동차,철도차량",미상,미상,미상,미상,미상,미상,0,0,0,3642,"자동차,철도차량",자동차,승용자동차
3,2019-01-01 00:52,경기도,이천시,설성면,기타(쓰레기 화재등),화학적 발화열,화학반응열,화학적 요인,자연발화,"종이,목재,건초등","풀, 나뭇잎",0,0,0,1848,기타,야외,야적장
4,2019-01-01 01:06,부산광역시,부산진구,당감동,"건축,구조물",작동기기,기타(작동기기),전기적 요인,절연열화에 의한 단락,"전기,전자","전기, 전자기기 기판",0,0,0,45,기타서비스,기타건축물,기타 건축물

In [126]:
data_1 = data[data['장소대분류']=='산업시설']
data_1.head()

,화재발생년월일,시도,시·군·구,읍면동,화재유형,발화열원대분류,발화열원소분류,발화요인대분류,발화요인소분류,최초착화물대분류,최초착화물소분류,인명피해(명)소계,사망,부상,재산피해소계,장소대분류,장소중분류,장소소분류
13,2019-01-01 02:54,경기도,포천시,화현면,"건축,구조물",미상,미상,미상,미상,미상,미상,0,0,0,47070,산업시설,공장시설,제재 및 목공업
47,2019-01-01 11:27,경상북도,구미시,도개면,"건축,구조물",미상,미상,미상,미상,"종이,목재,건초등",종이,0,0,0,186681,산업시설,동식물시설,기타 동식물시설
55,2019-01-01 12:37,경기도,하남시,상산곡동,"건축,구조물","불꽃, 불티",굴뚝(연통) 아궁이,부주의,"불씨,불꽃,화원방치",기타,기타,0,0,0,27205,산업시설,작업장,기타 작업장
56,2019-01-01 12:44,경상남도,창원시 성산구,귀곡동,"건축,구조물",작동기기,전기적 아크(단락),전기적 요인,절연열화에 의한 단락,미상,미상,0,0,0,2909,산업시설,발전시설,기타 발전시설
65,2019-01-01 13:48,세종특별자치시,세종,소정면,"건축,구조물",미상,미상,미상,미상,미상,미상,0,0,0,248130,산업시설,공장시설,식료품공업

In [127]:
len(data_1)

5429

In [128]:
data2 = data_1.loc[:, ['시도', '시·군·구', '인명피해(명)소계', '읍면동', '재산피해소계']]
data2.head()

         시도    시·군·구  인명피해(명)소계   읍면동  재산피해소계
13      경기도      포천시          0   화현면   47070
47     경상북도      구미시          0   도개면  186681
55      경기도      하남시          0  상산곡동   27205
56     경상남도  창원시 성산구          0   귀곡동    2909
65  세종특별자치시       세종          0   소정면  248130

In [129]:
data2['주소'] = data2['시도'] + " " + data2['시·군·구'] + " " + data2['읍면동']
display(data2.head())

         시도    시·군·구  인명피해(명)소계   읍면동  재산피해소계                주소
13      경기도      포천시          0   화현면   47070       경기도 포천시 화현면
47     경상북도      구미시          0   도개면  186681      경상북도 구미시 도개면
55      경기도      하남시          0  상산곡동   27205      경기도 하남시 상산곡동
56     경상남도  창원시 성산구          0   귀곡동    2909  경상남도 창원시 성산구 귀곡동
65  세종특별자치시       세종          0   소정면  248130    세종특별자치시 세종 소정면

In [130]:
data3 = data2.loc[:, ['주소', '재산피해소계', '인명피해(명)소계']]
data3.head()

                  주소  재산피해소계  인명피해(명)소계
13       경기도 포천시 화현면   47070          0
47      경상북도 구미시 도개면  186681          0
55      경기도 하남시 상산곡동   27205          0
56  경상남도 창원시 성산구 귀곡동    2909          0
65    세종특별자치시 세종 소정면  248130          0

In [131]:
all = data3.groupby(['주소']).sum(['재산피해소계', '인명피해(명)소계'])
print(all.head())

               재산피해소계  인명피해(명)소계
주소
강원도 강릉시 강동면     71110          0
강원도 강릉시 구정면      3109          0
강원도 강릉시 난곡동       442          0
강원도 강릉시 대전동  34471631          8
강원도 강릉시 사천면      9254          0

In [132]:
sort_재산 = all.sort_values(by=['재산피해소계'], ascending=False).head()
display(sort_재산.head())

                재산피해소계  인명피해(명)소계
주소
강원도 강릉시 대전동   34471631          8
경상북도 구미시 공단동  14829822          0
경기도 화성시 향남읍   10377206          3
경기도 화성시 우정읍    9969932          1
경기도 안성시 양성면    8242208         12

In [133]:
sort_인명 = all.sort_values(by=['인명피해(명)소계'], ascending=False).head()
display(sort_인명.head())

                재산피해소계  인명피해(명)소계
주소
충청북도 음성군 대소면    356122         15
경기도 안성시 양성면    8242208         12
인천광역시 서구 석남동    544795          8
강원도 강릉시 대전동   34471631          8
경기도 김포시 대곶면    4986318          8

In [134]:
all['quantile_재산'] = pd.qcut(all['재산피해소계'], q=4, labels=['재산피해_하위1', '재산피해_하위2', '재산피해_하위3', '재산피해_하위4'])
all.sort_values(by='재산피해소계')

                 재산피해소계  인명피해(명)소계 quantile_재산
주소
부산광역시 수영구 광안동         0          0    재산피해_하위1
대구광역시 달서구 호림동         0          0    재산피해_하위1
경상남도 거창군 마리면          0          0    재산피해_하위1
대구광역시 북구 연경동          0          0    재산피해_하위1
경상북도 울진군 기성면          0          0    재산피해_하위1
...                 ...        ...         ...
경기도 안성시 양성면     8242208         12    재산피해_하위4
경기도 화성시 우정읍     9969932          1    재산피해_하위4
경기도 화성시 향남읍    10377206          3    재산피해_하위4
경상북도 구미시 공단동   14829822          0    재산피해_하위4
강원도 강릉시 대전동    34471631          8    재산피해_하위4

[1884 rows x 3 columns]

In [135]:
import pandas as pd
import jenkspy

In [136]:
all['cut_jenks_인명'] = pd.cut(
    all['인명피해(명)소계'],
    bins=jenkspy.jenks_breaks(all['인명피해(명)소계'], nb_class=2),
    labels=['인명피해_하위1', '인명피해_하위2'])

all.sort_values(by='인명피해(명)소계')
all.to_excel('./data/group_data.xlsx')

In [139]:
all.groupby(['quantile_재산', 'cut_jenks_인명']).count()

                          재산피해소계  인명피해(명)소계
quantile_재산 cut_jenks_인명
재산피해_하위1    인명피해_하위1          14         14
            인명피해_하위2           1          1
재산피해_하위2    인명피해_하위1          20         20
            인명피해_하위2           2          2
재산피해_하위3    인명피해_하위1          36         36
            인명피해_하위2           4          4
재산피해_하위4    인명피해_하위1          65         65
            인명피해_하위2          24         24

In [140]:
gd = pd.read_excel('./data/그룹화.xlsx')
display(gd.head())

            주소    재산피해소계  인명피해(명)소계 quantile_재산 cut_jenks_인명  순위
0  강원도 강릉시 대전동  34471631          8    재산피해_하위4     인명피해_하위2   1
1  강원도 영월군 영월읍     79722          4    재산피해_하위4     인명피해_하위2   1
2  경기도 김포시 대곶면   4986318          8    재산피해_하위4     인명피해_하위2   1
3  경기도 시흥시 정왕동    604087          5    재산피해_하위4     인명피해_하위2   1
4  경기도 안성시 양성면   8242208         12    재산피해_하위4     인명피해_하위2   1

In [141]:
len(gd)

478

In [142]:
hb = pd.read_csv('./data/new_hb.csv', encoding='utf-8')
display(hb.head())

   Unnamed: 0        법정동주소    재산피해소계        행정동주소
0           0  강원도 강릉시 강동면     71110  강원도 강릉시 강동면
1           1  강원도 강릉시 구정면      3109  강원도 강릉시 구정면
2           2  강원도 강릉시 난곡동       442  강원도 강릉시 경포동
3           3  강원도 강릉시 대전동  34471631  강원도 강릉시 경포동
4           4  강원도 강릉시 사천면      9254  강원도 강릉시 사천면

In [143]:
len(hb)

2363

In [144]:
hb = hb.drop(hb.columns[[0, 2]], axis=1)

In [145]:
merge_d = pd.merge(left=hb, right=gd, how = "right", left_on='법정동주소', right_on='주소')

In [146]:
display(merge_d.head())

,법정동주소,행정동주소,주소,재산피해소계,인명피해(명)소계,quantile_재산,cut_jenks_인명,순위
0,강원도 강릉시 대전동,강원도 강릉시 경포동,강원도 강릉시 대전동,34471631,8,재산피해_하위4,인명피해_하위2,1
1,강원도 영월군 영월읍,강원도 영월군 영월읍,강원도 영월군 영월읍,79722,4,재산피해_하위4,인명피해_하위2,1
2,경기도 김포시 대곶면,경기도 김포시 대곶면,경기도 김포시 대곶면,4986318,8,재산피해_하위4,인명피해_하위2,1
3,경기도 시흥시 정왕동,경기도 시흥시 정왕본동,경기도 시흥시 정왕동,604087,5,재산피해_하위4,인명피해_하위2,1
4,경기도 시흥시 정왕동,경기도 시흥시 정왕1동,경기도 시흥시 정왕동,604087,5,재산피해_하위4,인명피해_하위2,1

In [147]:
merge_d = merge_d.drop(merge_d.columns[[0, 2]], axis=1)
display(merge_d.head())

          행정동주소    재산피해소계  인명피해(명)소계 quantile_재산 cut_jenks_인명  순위
0   강원도 강릉시 경포동  34471631          8    재산피해_하위4     인명피해_하위2   1
1   강원도 영월군 영월읍     79722          4    재산피해_하위4     인명피해_하위2   1
2   경기도 김포시 대곶면   4986318          8    재산피해_하위4     인명피해_하위2   1
3  경기도 시흥시 정왕본동    604087          5    재산피해_하위4     인명피해_하위2   1
4  경기도 시흥시 정왕1동    604087          5    재산피해_하위4     인명피해_하위2   1

In [ ]:
#merge_d.to_excel('./data/재산인명피해.xlsx', index=False)

In [6]:
df = pd.read_excel('./data/재산인명피해.xlsx')
display(df.head())

          행정동주소    재산피해소계  인명피해(명)소계 quantile_재산 cut_jenks_인명  순위
0   강원도 강릉시 경포동  34471631          8    재산피해_하위4     인명피해_하위2   4
1   강원도 영월군 영월읍     79722          4    재산피해_하위4     인명피해_하위2   4
2   경기도 김포시 대곶면   4986318          8    재산피해_하위4     인명피해_하위2   4
3  경기도 시흥시 정왕본동    604087          5    재산피해_하위4     인명피해_하위2   4
4   경기도 안성시 양성면   8242208         12    재산피해_하위4     인명피해_하위2   4

In [7]:
df['순위'] = df['순위'].astype(int)

In [5]:
import folium
from folium.features import CustomIcon
import json
folium.__version__

'0.11.0'

In [26]:
m = pd.read_excel('./data/map_dong.xlsx', header=None)
m.head()

        0                    1
0  화재발생시간  2019-05-23 18:22:00
1    발생장소          강원도 강릉시 경포동
2    화재요인               화학적 폭발
3  재산피해소계                   8명
4  인명피해소계      34,471,631,000원

In [27]:
m1 = m.iloc[0:5,: ]
display(m1)

        0                    1
0  화재발생시간  2019-05-23 18:22:00
1    발생장소          강원도 강릉시 경포동
2    화재요인               화학적 폭발
3  재산피해소계                   8명
4  인명피해소계      34,471,631,000원

In [24]:
map_osm = folium.Map(location=[36.792787, 127.784759], zoom_start=8, tiles='Stamen Toner')
rfile = open('data/HangJeongDong_ver20121210.geojson', 'r', encoding='utf-8').read()
jsonData = json.loads(rfile)
dong_map = folium.Choropleth(geo_data=jsonData, 
                            data=df,
                            columns=('행정동주소', '순위'),
                            key_on='feature.properties.adm_nm',
                            fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.3,
                            legend_name='재산피해 & 인명피해 고려 순위',
                            bins=4,
                            ).add_to(map_osm)
dong_map.geojson.add_child(
    folium.features.GeoJsonTooltip(['adm_nm'],labels=False) # 마우스 호버했을 때 지역 이름 알려줌
)

fire_img = './data/fire.png'

m1 = m.iloc[0:5,: ]
m2 = m.iloc[6:11,: ]
m3 = m.iloc[12:17,: ]
m4 = m.iloc[18:23,: ]
m5 = m.iloc[24:29,: ]

html = '''<div align="center"> 
강원도 강릉시 경포동<br>
재산피해 소계: 34,471,631원<br>
인명피해 소계: 8명<br>
화재원인: 담배꽁초 
</div>'''

iframe1 = folium.IFrame(html, width=400, height=400)

icon1 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker1 = folium.Marker([37.790243, 128.867888], 
                        icon=icon1,
                        popup = folium.Popup(iframe1, max_width=400))
dong_map.add_child(marker1)

icon2 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker2 = folium.Marker([37.183269, 128.473420], 
                        icon=icon2,
                        popup=folium.Popup("강원도 영월군 영월읍", max_width='100'))
dong_map.add_child(marker2)


icon3 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker3 = folium.Marker([37.633461, 126.576408], 
                        icon=icon3,
                        popup=folium.Popup("경기도 김포시 대곶면", max_width='100'))
dong_map.add_child(marker3)

icon4 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker4 = folium.Marker([37.357153, 126.751962], 
                        icon=icon4,
                        popup=folium.Popup("경기도 시흥시 정왕본동", max_width='100'))
dong_map.add_child(marker4)

icon5 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker5 = folium.Marker([37.075638, 127.210332], 
                        icon=icon5,
                        popup=folium.Popup("경기도 안성시 양성면", max_width='100'))
dong_map.add_child(marker5)

icon6 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker6 = folium.Marker([34.936569, 127.725337], 
                        icon=icon6,
                        popup=folium.Popup("전라남도 광양시 금호동 ", max_width='100'))
dong_map.add_child(marker6)


icon7 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker7 = folium.Marker([35.717465, 129.327571], 
                        icon=icon7,
                        popup=folium.Popup("경상북도 경주시 외동읍", max_width='100'))
dong_map.add_child(marker7)


icon8 = CustomIcon(fire_img,
                   icon_size=(75, 95),
                   icon_anchor=(10, 30),
                   popup_anchor=(30, -30))

marker8 = folium.Marker([36.396141, 127.728307], 
                        icon=icon8,
                        popup=folium.Popup("충청북도 보은군 삼승면", max_width='100'))
dong_map.add_child(marker8)


display(dong_map)
map_osm.save('data/재산_인명_순위_map.html')